// Typography
$text-header-large: 4.6rem;
$text-header-medium: 3.8rem;
$text-header-small: 2.8rem;

$text-larger: 2rem;
$text-large: 1.8rem;
$text-medium: 1.6rem;
$text-small: 1.4rem;
$text-smaller: 1.2rem;
$text-smallest: 1rem;

$text-weight-normal: 400;
$text-weight-bold: 700;

// Colors
$color-white: #f9fafc;
$color-white-2: #eff2f7;
$color-white-3: #e5e9f2;

$color-grey: #d3dce6;
$color-grey-light: #e0e6ed;
$color-grey-dark: #c0ccda;

$color-black: #1f2d3d;
$color-black-lighter: #273444;
$color-black-light: #3c4858;

$color-blue: #1fb6ff;
$color-blue-light: #85d7ff;
$color-blue-dark: #009eeb;

$color-purple: #7e5bef;
$color-purple-light: #a389f4;
$color-purple-dark: #592dea;

$color-pink: #ff49db;
$color-pink-light: #ff7ce5;
$color-pink-dark: #ff16d1;

$color-orange: #ff7849;
$color-orange-light: #ff9e7c;
$color-orange-dark: #ff5216;

$color-green: #13ce66;
$color-green-light: #29eb7f;
$color-green-dark: #0f9f4f;

$color-yellow: #ffc82c;
$color-yellow-light: #ffd55f;
$color-yellow-dark: #f8b700;
