@use "../abstracts/variables" as *;

.header {
  grid-row: 1;
  grid-column: 1 / -1;

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: minmax(2rem, 1fr) repeat(8, minmax(min-content, 14rem)) minmax(
      2rem,
      1fr
    );

  height: 20rem;
  background-color: #1f2d3d;
  color: $color-white;

  &__content {
    position: relative;
    grid-row: 1;
    grid-column: 2 / span 8;

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(8, minmax(min-content, 14rem));

    align-items: end;

    padding: 2rem 0;

    h1 {
      grid-row: 1;
      grid-column: 5 / -1;
    }
  }
}
